/* 4 - External */
h3 {
    color: green;
}

body {
    padding-bottom: 500px;
}

/* p {
    color: blueviolet;
} */

/* Classes */
.paragraph {
    background-color: black;
    color: aqua;
    padding: 5px;
}

/* ids */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

/* Ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}

/* Nome de cores */
.color-name {
    color: crimson;
}

/* hex */
.hex {
    color:#55a398;
}

.hex-2 {
    color: #44f793;
}

/* Aprofundando em hex
   Nessas duas classes, ao invés de escrever o mesmo
   valor 6x, é escrito somente 3x */
.simple-hex {
    color: #333;
}


.simple-hex-2 {
    color: #a5f;
}

/* rgb */
.rgb {
    color: rgb(255, 0, 0);
}

.mixed-rgb {
    color: rgb(234, 132, 130);
}

/* RGBA */
.rgba {
    color: rgba(100, 199, 45, 0.3);
}

/* HSL */
.hsl {
    color: hsl(100, 20%, 50%);
}

.hsl-2 {
    color: hsl(202, 80%, 4%);
}

/* Background */
.bg {
    background-color: #000;
    color: yellow;
}

.bg-2 {
    background-color: rgb(234, 198, 14);
    color: #18abbb;
}

/* Background opacity */
.bg-opacity {
    background-color: green;
    opacity: 0.2;
}

.bg-opacity-2 {
    background-color: #999;
    color: #000;
    opacity: 0.8;
}

.rgba-opacity {
    background-color: rgba(90, 120, 20, 0.2);
    color: #000;
}

/* BG image */
.bg-image {
    background-image: url(../img/nature.jpg);
    width: fit-content;
    color: rgb(147, 40, 255);
 /* Espaçamento interno entre o conteúdo e as bordas internas do elemento */
    padding: 10px;
}

/* Centralizando bg image
   A vírgula após o primeiro seletor permite que 
   as regras (height, etc) sejam aproveitadas a ambos os seletores/elementos */
.not-centered-bg,
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url(../img/bridge.jpg);
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

/* altura e largura */
.height-width {
    height: 200px;
    width: 100px;
    background-color: #ff0000;
}

.height-width-2 {
    height: 300px;
    background-color: #333;
}    

.without-padding, .padding {
    background-color: #000;
    color: #ffffff;
}

/* Adc. padding para o conteúdo ficar melhor posicionado
   para melhor UX. */
.padding {
    background-color: #999;
    padding: 0.5%;
}

/* Padding individual */
.padding-individual {
    background-color: #222;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

/* shorthand padding  
   Definindo o padding em todas as direções em uma única linha: 
   topo (6px), direita (12px), baixo (18px), esquerda (24px) */
.shorthand-padding {
    background-color: #444;
    padding: 6px 12px 18px 24px;
}

.shorthand-padding-2 {
    background-color: #555;
    /* Definindo o padding vertical (topo e baixo) como 10px 
       e o horizontal (direita e esquerda) como 20px */
    padding: 10px 20px;

    /* padding: 10px 20px 10px 20px; */
}